/* color definitions*/
/*gradients*/
/*functions*/
/*mixins*/
/*The default x-length for translations*/
/*The default y-length for translations*/
/*The default z-length for translations*/
/*/Shortcut to target all browsers with 2D transform support*/
/*/Shortcut to target only browsers with 3D transform support*/
/* line 2, ../sass/flexbox.scss */
.hbox { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: flex; }

/* line 3, ../sass/flexbox.scss */
.vbox { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: flex; -webkit-box-orient: vertical; -moz-box-orient: vertical; -ms-box-orient: vertical; box-orient: vertical; }

/* line 4, ../sass/flexbox.scss */
.flex { -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1; }

/* line 6, ../sass/flexbox.scss */
.v-center { box-align: center; align-items: center; }

/* line 7, ../sass/flexbox.scss */
.h-center { box-pack: center; justify-content: center; text-align: center; }

/* line 9, ../sass/flexbox.scss */
.sticky-container { min-height: 80vh; }

/* line 10, ../sass/flexbox.scss */
.sticky-footer { display: flex; margin: auto; width: 100%; }
